<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <header>
        <h1>MyFace</h1>
    </header>
    <div class="profile-pic-div">
        <img src="../../public/images/blank-profile-pic.png" id="photo">
        <input type="file" id="file">
        <label for="file" id="uploadBtn">Choose Photo</label>
    </div>
    <main>
        <h1>Status</h1>
        <div></div>
    </main>
</body>
</html>