<div id="homepage" class="container">
    <h1>{{text}}</h1>
    <img src="../public/images/blank-profile-pic.png" alt="myFace logo">
    <h1>
        <p>First time here? Click Register!</p>
        <a href="/register" class="registerBtn">
            Register
        </a>
    </h1>
    <h1>
        <p>Welcome back!</p>
        <a href="/login" class="loginBtn">
            Login
        </a>
    </h1>
</div>