<div id="homepage" class="container">
    <h1>{{text}}</h1>
    <div class="card">
        <img src="../public/images/blank-profile-pic.png" alt="myFace logo">

        <div class="card">
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <h5 class="card-title">First time here?</h5>
                <p class="card-text">Click here to register!</p>
                <a href="/register" class="btn btn-primary registerBtn">Go register</a>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <h5 class="card-title">Welcome back!</h5>
                <p class="card-text">Click here to login.</p>
                <a href="/login" class="btn btn-primary loginBtn">Go login</a>
            </div>
        </div>
    </div>

</div>