<div>
    <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body">
            <h1>Log in</h1>
            <hr>

            <form class="login_form">

                <label for="email"><b>Email</b></label><br>
                <input type="text" placeholder="Enter Email" name="email" id="email" required><br>

                <label for="psw"><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password" name="password" id="password" required><br>

                <hr>

                <button type="submit" class="logInbtn btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</div>

<script src="/public/js/login.js"></script>