{{!-- {{# if errors}}
<section class="errors">
    <ul>
        {{# each errors}}
        <li>
            {{ this.msg }}
        </li>
        {{/each}}
    </ul>
</section>
{{/if}} --}}
<div>
    <h1>Log in to your account</h1>
    <hr>

    <form class="login_form">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <hr>

        <button type="submit" class="logInbtn">Log In</button>
    </form>
</div>

<script src="/public/js/login.js"></script>