<div id="status-update-form">
    <form>
        <label for="post">Update your status</label>
        <input type="text" id="status_post" name="post">
        <input type="submit" value="submit" id="status_submit">
    </form>
</div>

<script src="/public/js/profile.js"></script>