

{{!--

<body>
    <header>
        <h1>{{user}}'s Profile</h1>
    </header>
    <div class="profile-pic-div">
        <img src="../../public/images/blank-profile-pic.png" id="photo">
        <input type="file" id="file">
        <label for="file" id="uploadBtn">Choose Photo</label>
    </div>
    <div>
        {{status}}
    </div>

</body> --}}