<div>
    <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body">
            <h1>Register</h1>
            <p id="instructions">Please fill in this form to create an account.</p>
            <hr>

            <form class="register_form" action="/api/auth/register" method="POST">
                <label for="first_name"><b>First Name</b></label> <br>
                <input type="text" placeholder="Enter First Name" name="first_name" id="first_name" required><br>

                <label for="last_name"><b>Last Name</b></label><br>
                <input type="text" placeholder="Enter Last Name" name="last_name" id="last_name" required><br>

                <label for="email"><b>Email</b></label><br>
                <input type="text" placeholder="Enter Email" name="email" id="email" required><br>

                <label for="psw"><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password" name="password" id="password" required><br>

                <label for="psw-repeat"><b>Repeat Password</b></label><br>
                <input type="password" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat" required><br>
                <hr>

                {{!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> --}}
                <button type="submit" class="registerbtn btn btn-primary">Register</button>

                <div class="container signin">
                    <p>Already have an account? <br><a href="/login">Log in</a>.</p>
                </div>

            </form>
            <div>
                {{#if message}}
                <h4 class="alert mt-4">{{message}}</h4>
                {{/if}}
            </div>

        </div>
    </div>
</div>

<script src="/public/js/register.js"></script>