* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}


#page {
    height: 500px;
    width: 80%;
    border: 2px solid #43464b;
    margin: 40px;
    background-color: #0d86bc;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: xxx-large;
}

.login_form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 70px;
    padding-left: 20px;
    font-size: x-large;
    gap: 10px;
    row-gap: 20px;
}

label {
    font-size: x-large;
    color: white;
}

input {
    font-size: larger;
    border: 2px solid #43464b;
}

button {
    font-size: x-large;
}

button:hover {
    background-color: #45bb6a;
}

@media only screen and (max-width: 576px) {
    #page {
        height: 470px;
        width: 350px;
        background-color: #fe902d;
    }

    h1 {
        font-size: xx-large;
        color: white;
        text-shadow: 1px 1px #43464b;
    }

    .login_form {
        margin: 30px;
        font-size: x-large;
    }
    
}

@media only screen and (min-width: 850px) {
    #page {
        height: 410px;
        width: 700px;
        margin: 50px;
        background-color: #45bb6a;
    }

    button:hover {
        background-color: #0d86bc;
    }

}

@media only screen and (min-width: 1150px) {
    #page {
        height: 410px;
        width: 70%;
        margin: 50px;
        background-color: #9f29ad;
    }

    h1 {
        color: white;
        text-shadow: 1px 1px #43464b;
    }
    
    .login_form {
        inline-size: 53%;
    }
    
    label {
        font-size: xx-large;
    }
}