
#profile-head {
    height: 20%;
    padding: 20px;
    background-color: #9f29ad;
}

#user-profile {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

img{
    height: 200px;
}

.profile-pic-div {
    height: 175px;
    width: 175px;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #9f29ad;
}

#photo {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, alpha0.7);
    color: #9f29ad;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#status-container {
    height: 380px;
    width: 76%;
    position: absolute;
    top: 36%;
    left: 12%;
    border: solid 5px #9f29ad;
    background-color: white;
}

h2 {
    
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 25px;
    font-family: sans-serif;

}

#status {
    padding-left: 20px;
    line-height: 35px;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: left;
}

@media only screen and (max-width: 576px) {
    
    #profile-head {
        background-color: #45bb6a;
        border-bottom: 3px solid #45bb6a;
    }

    #user-profile {
        font-size: 28px;
        color: white;
    }
    
    .profile-pic-div{
        height: 150px;
        width: 150px;
        position: absolute;
        top: 21%;
        border: 1px solid #45bb6a;
    }

    #uploadBtn {
        font-size: 12px;
        height: 30px;
        color: black;
    }

    #status-container {
        height: 425px;
        position: absolute;
        top: 32%;
        border: solid 5px #45bb6a;
    }

    #status {
        line-height: 20px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 850px) {

    #profile-head {
        background-color: #50c0f3;
        
    }

    #user-profile {
        color: black;
    }

    .profile-pic-div {
        height: 200px;
        width: 200px;
        position: fixed;
        top: 30%;
        border: solid 3px #50c0f3;
        left: 18%;
    }
    
    #uploadBtn {
        font-size: 16px;
        height: 42px;
        color: black;
    }

    #status-container {
        height: 520px;
        width: 60%;
        border: solid 5px #50c0f3;
        top: 16%;
        left: 32%;
    }

    h2 {
        padding-top: 10px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 1050px) {
    #profile-head {
        background-color: #fe902d;
        
    }
    
    #user-profile {
        color: white;
    }

    .profile-pic-div {
        height: 200px;
        width: 200px;
        position: fixed;
        top: 28%;
        border: solid 3px #fe902d;
    }

    #uploadBtn {
        color: #fe902d;
        text-shadow: 1px 1px black;
    }

    #status-container {
        height: 400px;
        top: 20%;
        border: solid 5px #0d86bc;
    }

    h2 {
        color: #fe902d;
        text-shadow: 1px 1px #0d86bc;
    }
}